@model IdentityWithExistingDatabase.Models.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Log In</h1>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.ValidationMessage("General", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <input type="submit" class="btn btn-success" value="Log In" />
        }
    </div>
</div>